.btn-muahang{
  display:  block;
  background-color: #fc6721;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  line-height: 38px;
  text-transform: uppercase;
  box-shadow: none;
  border:  none;
}