.gb-datmuagiaohangtannoi-mia{
  .btn-order-product{
    padding: 15px 0;
    background-color: #fc6721;
    color: #fff;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    line-height: 18px;
    border-color: #fc6721;
  }
}